.star{
    color: red;
    font-weight: bold;
}
.table{
    text-align: center !important;
}
.actLogo {
    width: 250px;
    margin: -8px;
    margin-top: -17px;
    height: 51px
}
.svgHeading{
    color: brown;
    position: absolute;
    font-weight: bold;
}