<%- include('common/header.ejs') -%>
<style>
    .table-responsive {
        height: 600px;
    }

    .panel {
        border: solid 1px #1579f6;
        margin-bottom: 20px;
        border-radius: 7px;
    }
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark"><img src="/img/icon/logo.jpg" style="width:60px;height:60px;" alt="">
                        Covid-19 Relief Service Details</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Service</li>
                        <li class="breadcrumb-item active">Service Details</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">


        <div class="container-fluid">
            <div class="container-fluid">
                <div class="panel panel-success">
                    <form name="bloodCamp">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Search Data</h3>
                            </div>
                        </div>
                        <div class="card-body">
                            <form name="myForm1">
                                <div class="row">
                                    <div class="col-1" style="text-align:right">
                                        <div class="form-group">
                                            <label>District<span class="star">*</span>:</label>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <select ng-model="dist" class="form-control" ng-required="true" required>
                                                <option value="">--Select District--</option>
                                                <option ng-repeat="option in districtList"
                                                    value="{{option.district_id}}">{{option.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-1" style="text-align:right">
                                        <div class="form-group">
                                            <label>From<span class="star">*</span>:</label>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <input type="date" ng-model="fromDate" max="{{toDate | date: 'y-MM-dd' }}"
                                                class="form-control" ng-required="true" required>
                                        </div>
                                    </div>

                                    <div class="col-1" style="text-align:right">
                                        <div class="form-group">
                                            <label>To<span class="star">*</span> :</label>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <input type="date" ng-model="toDate" min="{{fromDate | date: 'y-MM-dd' }}"
                                                class="form-control" ng-required="true" required>
                                        </div>
                                    </div>
                                </div>
                                <div style="text-align: right;">
                                    <button class="btn btn-primary" ng-disabled="false" ng-click="getFilteredData();"><i
                                            class="fas fa-search" aria-hidden="true"></i> Search</button>
                                </div>
                            </form>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container-fluid" ng-show="showAllList">
            <div class="container-fluid">
                <div class="panel panel-success">
                    <form name="bloodCamp">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Convenor Details</h3>
                            </div>
                            <div class="card-body" style="padding: 0;">
                                <div class="table-responsive">
                                    <table class="table table-head-fixed" id="allListTable">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>District</th>
                                                <th>SevaSamithi</th>

                                                <th>Location</th>

                                                <th>No.of Food Packets</th>
                                                <th>No.of Amrutha Kalasams</th>
                                                <th>Other Items (if any )</th>
                                                <th>Approximate Cost incurred</th>
                                                <th>Brief Details of the Seva</th>
                                                <th>No of Sevadals involved </th>

                                                <th ng-show="district_id == ''">Edit</th>
                                                <th ng-show="district_id == ''">Delete</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="cmp in indexConvenorList">
                                                <td> {{ cmp.date | date:'dd-MM-yyyy' }}</td>
                                                <td> {{ cmp.dist_name }}</td>
                                                <td> {{ cmp.samiti }} </td>

                                                <td> {{ cmp.location }} </td>
                                                <td> {{ cmp.nfp }} </td>
                                                <td> {{ cmp.nfk }} </td>
                                                <td> {{ cmp.other_items }} </td>
                                                <td> {{ cmp.app_cost }} </td>
                                                <td> {{ cmp.detail_of_seva }} </td>
                                                <td> {{ cmp.nosdi }} </td>

                                                <td ng-show="district_id == ''">
                                                    <button class="btn btn-outline-primary" ng-click="editField(cmp.conv_id);">
                                                        <i class="fas fa-edit" aria-hidden="true"></i>
                                                    </button>
                                                </td>
                                                <td ng-show="district_id == ''">
                                                    <button class="btn btn-outline-danger" data-toggle="modal"
                                                        data-target="#delete" ng-click="selectRemoveItem(cmp);">
                                                        <i class="fas fa-trash" aria-hidden="true"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr style="font-weight: bold;">
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>Total :</td>
                                                <td> {{ totalNfp }} </td>
                                                <td> {{ totalNfk }} </td>
                                                <td> {{ totalOtherItems }} </td>
                                                <td> {{ totalAppCost }} </td>
                                                <td></td>
                                                <td> {{ totalNosdi }} </td>
                                                <td ng-show="district_id == ''"></td>
                                                <td ng-show="district_id == ''"></td>
                                            </tr>
                                        </tbody>
                                        <tfoot></tfoot>
                                    </table>
                                </div>
                                <div style="text-align: right;margin: 10px;">
                                    <button type="button" class="btn btn-primary"
                                        ng-click="exportToExcel('#allListTable')"> <i class="fas fa-download"
                                            aria-hidden="true"></i> Download</button>
                                </div>
                                <div id="edit" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">×</button>
                                                <h4 class="modal-title">Update Data</h4>
                                            </div>
                                            <div class="modal-body">
                                                <input id="fn" type="text" class="form-control" name="fname"
                                                    placeholder="First Name">
                                                <input id="ln" type="text" class="form-control" name="fname"
                                                    placeholder="Last Name">
                                                <input id="mn" type="text" class="form-control" name="fname"
                                                    placeholder="Middle Name">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" id="up" class="btn btn-warning"
                                                    data-dismiss="modal">Update</button>
                                                <button type="button" class="btn btn-default"
                                                    data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="delete" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" style="color: red;">Delete Data</h4>
                                                <button type="button" class="close" data-dismiss="modal">×</button>
                                            </div>
                                            <div class="modal-body">
                                                <strong>Are you sure you want to delete this data?</strong>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" id="del" class="btn btn-danger"
                                                    data-dismiss="modal" ng-click="removeSevaData();">Delete</button>
                                                <button type="button" class="btn btn-default"
                                                    data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<footer class="main-footer">

    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.0.0-pre
    </div>
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<!-- Controller -->
<script src="/controller/admin/CovidSevaReport.js"></script>
<!-- AdminLTE App -->
<script src="/AdminLTE/adminlte.js"></script>
<script type="text/javascript" src="/AdminLTE/bootstrap.bundle.min.js"></script>

</body>

</html>