<%- include('common/header.ejs') -%>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark"><img src="/img/icon/blood.png" style="width:60px;height:60px;" alt="">User Login Details</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Blood Group</li>
                        <li class="breadcrumb-item active">password</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">


        <div class="container-fluid">
            <div class="container-fluid">
                <div class="panel panel-success">
                    <form name="user">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">User Login Details</h3>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <table class="table table-hover table-responsive">
                                        <thead>
                                            <tr>
                                                <th>District</th>
                                                <th>E-Mail ID</th>
                                                <th>Password</th>
                                                <th>Edit</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="cmp in userList">
                                                <td> {{ cmp.userName }}</td>
                                                <td> {{ cmp.email }} </td>
                                                <td> {{ cmp.credential }} </td>
                                                
                                                <td>
                                                    <button class="btn btn-outline-primary" ng-click="updateData(cmp);">
                                                        <i class="fas fa-edit" aria-hidden="true"></i>
                                                    </button>
                                                </td>
                                                
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="edit" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">×</button>
                                            <h4 class="modal-title">Update Data</h4>
                                        </div>
                                        <div class="modal-body">
                                            <input id="fn" type="text" class="form-control" name="fname" placeholder="First Name">
                                            <input id="ln" type="text" class="form-control" name="fname" placeholder="Last Name">
                                            <input id="mn" type="text" class="form-control" name="fname" placeholder="Middle Name">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" id="up" class="btn btn-warning" data-dismiss="modal">Update</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="delete" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">×</button>
                                            <h4 class="modal-title">Delete Data</h4>
                                        </div>
                                        <div class="modal-body">
                                            <strong>Are you sure you want to delete this data?</strong>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" id="del" class="btn btn-danger" data-dismiss="modal">Delete</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<footer class="main-footer">
    
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.0.0-pre
    </div>
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<!-- Controller -->
<script src="/controller/admin/password.js"></script>
<!-- AdminLTE App -->
<script src="/AdminLTE/adminlte.js"></script>
<script type="text/javascript" src="/AdminLTE/bootstrap.bundle.min.js"></script>

</body>
</html>