<%- include('common/header.ejs') -%>
        <div class="content-wrapper">

            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-1">
                        <div class="col-sm-8">
                            <h1 class="m-0 text-dark"><img src="/img/icon/logo.jpg" style="width:60px;height:60px;"
                                    alt=""> Survey for promotion of  Sai Swabalambi </h1>
                        </div><!-- /.col -->
                        <div class="col-sm-4">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#"> Sai Swabalambi Program</a></li>
                                <li class="breadcrumb-item active">Skill</li>
                                <li class="breadcrumb-item active">Person details</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">


                <div class="container-fluid">
                    <div class="container-fluid">
                        <div >
                            <form name="bloodCamp">
                                <div class="card card-primary" id="applicantDetails" ng-show="alldata.length != 0">
                                    <style type="text/css" media="print">
                                        @media print {
                                            @page {
                                                size: A4 portrait;
                                                max-height: 100%;
                                                max-width: 100%;
                                                zoom: 0.1%;
                                                margin: 0;
                                                size: auto;
                                            }
        
                                            body {
                                                width: 100%;
                                                height: 100%;
                                                transform: scale(0.9);
                                            }
                                        }
                                    </style>
                                    <style>
                                        #rcorners2 {
                                            border-radius: 25px;
                                            border: 2px solid rgb(78, 88, 59);
                                            padding: 20px;
                                            width: 70px;
                                            /* height: 51px; */
                                            margin-left: 20%;
                                        }
                                    </style>
                                    <style>
                                        .table-responsive {
                                            height: 600px;
                                        }
        
                                        .panel {
                                            margin-bottom: 20px;
                                            border-radius: 7px;
                                        }
                                    </style>
                                    <script type="text/javascript" src="/js/angular.min.js"></script>
                                    <link rel="stylesheet" href="/AdminLTE/adminlte.min.css">
                                    <div class="card-header">
                                       
                                            <h4>Resource persons / Committee members details</h4>
                                      
                                    </div>

                                    <div class="card-body" style="padding: 0;">
                                        <div   style="height: auto;padding-bottom: 25px; "><br>
                                            <div class="row">
                                                <div class="col-md-2 col-xs-2">
                                                    &nbsp  </b> Name:  
                                                </div>
                                                <div class="col-md-2 col-xs-2"><h6>{{alldata.name}}</h6>
                                                </div>
                                                <div class="col-md-2 col-xs-2">
                                                     Contact number:  
                                                </div>
                                                <div class="col-md-2 col-xs-2"><h6>{{alldata.mobno}}</h6>
                                                </div>
                                                <div class="col-md-2 col-xs-2">
                                                     District:  
                                                </div>
                                                <div class="col-md-2 col-xs-2"><h6>{{alldata.dist_name}}</h6>
                                                </div>
                                                <div class="col-md-2 col-xs-2">
                                                    &nbsp  Samiti:  
                                                </div>
                                                <div class="col-md-2 col-xs-2"><h6>{{alldata.samiti}}</h6>
                                                </div>
                                                <div class="col-md-2 col-xs-3">
                                                    Resource:  
                                                </div>
                                                <div class="col-md-2 col-xs-2"><h6>{{alldata.resourcetype}}</h6>
                                                </div>
                                                <div class="col-md-2 col-xs-2">
                                                    Profession:  
                                                </div>
                                                <div class="col-md-2 col-xs-2"><h6>{{alldata.profession}}</h6>
                                                </div>
                                                <div class="col-md-2 col-xs-2"  >
                                                    &nbsp  Workshop:  
                                                </div>
                                                <div class="col-md-2 col-xs-2" ><h6>{{alldata.workshop}}</h6>
                                                </div>
                                                <div class="col-md-2 col-xs-2"  ng-show="alldata.profession == 'Entrepreneur' ">
                                                    Area Of expertise:  
                                                </div>
                                                <div class="col-md-2 col-xs-2"  ng-show="alldata.profession == 'Entrepreneur'"><h6>{{alldata.areaofexpertise}}</h6>
                                                </div>
                                                <div class="col-md-2 col-xs-2"  >
                                                    Remark:  
                                                </div>
                                                <div class="col-md-2 col-xs-2" ><h6>{{alldata.remarks}}</h6>
                                                </div>
                                                
                                            </div>

                                        
                                        </div>
                                    </div>


                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="text-align: left; padding-bottom: 100px;">
                                <button class="btn btn-success" ng-click="back(alldata.register);"
                                    style="text-align: right;"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button>
                            </div>
                            <div class="col-md-6" style="text-align: right;">
                                <button class="btn btn-success" onclick="printElem()" style="text-align: right;"><i
                                        class="fa fa-print" aria-hidden="true"></i> Print</button>
                            </div>

                        </div>
                    </div>
                </div>

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">

            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 1.0.0-pre
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- Controller -->
    <script>
        var id = "<%= id %>";
    </script>
    <script src="/controller/user/resourcePersonsViewPage.js"></script>
    <!-- AdminLTE App -->
    <script src="/AdminLTE/adminlte.js"></script>
    <script type="text/javascript" src="/AdminLTE/bootstrap.bundle.min.js"></script>

</body>

</html>